.alert {
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 70px;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fadeInOut 1s infinite alternate;
  border-radius: 5px;
  border-color: #1E88E5;
  max-width: 300px;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
}

.alert.alert-info {

  background-color: #1E88E5;

  color: #fff;
}

.alert.alert-warning {

  background-color: #1E88E5;

  color: #ffc107;
}
