.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('bee.png');
  background-size: contain;
  background-position: center;
  height: 100vh;
  position: relative;
}

.banner h1,
.banner p,
.banner a {
  position: relative;
  z-index: 1;
}

.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
  pointer-events: none;
}

.container {
  position: relative;
  z-index: 1;
}

.btn-primary {
  background-color: #28a745;
  color: #fff;
}

.form-inputs label,
.form-inputs input,
.form-inputs .hint {
  color: #fff;
}

.form-actions {
  margin-top: 20px;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
}

.field {
  color: #fff;
}

.log-text{
  color: #fff;
}
